<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>{%title%}</title>
		<link title="​{%server_name%}" href="/opensearch{%ac%}" rel="search" type="application/opensearchdescription+xml">
		<link rel="stylesheet" href="/static/style.css?v{%version%}">
		{%style%}
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="robots" content="{%index%}index,{%index%}follow">
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="description" content="{%server_name%}: {%description%}">
	</head>
	<body>
		<div class="navigation">
			<a href="/">Home</a>
			<a href="/settings">Settings</a>
			<a href="https://git.lolcat.ca/lolcat/4get_news" target="_BLANK">News</a>
		</div>
		<form method="GET" autocomplete="off">
			<div class="searchbox">
				<input type="submit" value="Search" tabindex="-1">
				<div class="wrapper">
					<input type="text" value="{%search%}" maxlength="500" name="s" placeholder="Proxy search..." required>
				</div>
				<div class="autocomplete"></div>
			</div>
			<div class="tabs">
				{%tabs%}
			</div>
			<div class="filters">
				{%filters%}
			</div>
		</form>
