<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>{%title%}</title>
	<link title="​{%server_name%}" href="/opensearch{%ac%}" rel="search" type="application/opensearchdescription+xml">
	<link rel="stylesheet" href="/static/style.css?v{%version%}">
	{%style%}
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="robots" content="index,follow">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<meta name="description" content="{%server_name%}: {%title%}">
</head>
<body{%class%}>
