<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>4get</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/static/style.css?v4">
		<meta name="robots" content="index,follow">
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="description" content="4get.ca: They live in our walls!">
		<link rel="search" type="application/opensearchdescription+xml" title="4get" href="/opensearch.xml">
	</head>
	<body class="home {%body_class%}">
		<div id="center">
			<form method="GET" autocomplete="off" action="web">
				<div class="logo">
					<a href="/">
						<img src="{%banner%}" alt="4get">
					</a>
				</div>
				<div class="searchbox">
					<input type="submit" value="Search" tabindex="-1">
					<div class="wrapper">
						<input type="text" maxlength="500" name="s" placeholder="Proxy search..." required autofocus>
					</div>
					<div class="autocomplete"></div>
				</div>
			</form>
			<a href="settings">Settings</a> • <a href="api.txt">API</a> • <a href="about">About</a> • <a href="https://git.lolcat.ca/lolcat/4get">Source</a> • <a href="https://ko-fi.com/lolcat" rel="noreferrer" target="BLANK">Donate</a>
			<div class="subtext">
				Clearnet: <a href="https://4get.ca">4get.ca</a><br>
				Tor: <a href="http://4getwebfrq5zr4sxugk6htxvawqehxtdgjrbcn2oslllcol2vepa23yd.onion">4getwebfrq5zr4sxugk6htxvawqehxtdgjrbcn2oslllcol2vepa23yd.onion</a><br>
				Report a problem: <a href="https://lolcat.ca">lolcat.ca</a>
			</div>
		</div>
		<script src="/static/client.js?v4"></script>
	</body>
</html>
